.redux-main .color-transparency-check,
.redux-main .redux-typography-container .select_wrapper.typography-align{ display:none !important;}
.redux-container{ overflow:visible !important;}
.rAds,
#redux_rAds{ display:none !important;}