<form class="block_content" method="post">

    {% set static = block.getContentByType( 'static' ) %}
    {% set limit = to_string(static['limit']) %}

    <div class="form-group">
        <label>Limit</label>
        <select name="static[limit]" type="text" class="form-control">
            {% for i in 1..30 %}
                <option value="{{ i }}" {% if limit == i %}selected{% endif %}>{{ i }}</option>
            {% endfor %}
        </select>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <input class="btn btn-lg btn-form save-trigger" type="submit" name="save" value="SAVE" style="padding-left: 50px; padding-right: 50px;" />
        </div>
    </div>
</form>