@font-face {
  font-family: 'AvenirLTStdLight';
  src: url('../fonts/AvenirLTStdLight.eot');
  src: url('../fonts/AvenirLTStdLight.eot') format('embedded-opentype'), url('../fonts/AvenirLTStdLight.woff2') format('woff2'), url('../fonts/AvenirLTStdLight.woff') format('woff'), url('../fonts/AvenirLTStdLight.ttf') format('truetype'), url('../fonts/AvenirLTStdLight.svg#AvenirLTStdLight') format('svg');
}
@font-face {
  font-family: 'AvenirLTStdBook';
  src: url('../fonts/AvenirLTStdBook.eot');
  src: url('../fonts/AvenirLTStdBook.eot') format('embedded-opentype'), url('../fonts/AvenirLTStdBook.woff2') format('woff2'), url('../fonts/AvenirLTStdBook.woff') format('woff'), url('../fonts/AvenirLTStdBook.ttf') format('truetype'), url('../fonts/AvenirLTStdBook.svg#AvenirLTStdBook') format('svg');
}
@font-face {
  font-family: 'AvenirLTStdMedium';
  src: url('../fonts/AvenirLTStdMedium.eot');
  src: url('../fonts/AvenirLTStdMedium.eot') format('embedded-opentype'), url('../fonts/AvenirLTStdMedium.woff2') format('woff2'), url('../fonts/AvenirLTStdMedium.woff') format('woff'), url('../fonts/AvenirLTStdMedium.ttf') format('truetype'), url('../fonts/AvenirLTStdMedium.svg#AvenirLTStdMedium') format('svg');
}
@font-face {
  font-family: 'AvenirLTStdHeavy';
  src: url('../fonts/AvenirLTStdHeavy.eot');
  src: url('../fonts/AvenirLTStdHeavy.eot') format('embedded-opentype'), url('../fonts/AvenirLTStdHeavy.woff2') format('woff2'), url('../fonts/AvenirLTStdHeavy.woff') format('woff'), url('../fonts/AvenirLTStdHeavy.ttf') format('truetype'), url('../fonts/AvenirLTStdHeavy.svg#AvenirLTStdHeavy') format('svg');
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
figure,
footer,
header,
main,
nav,
section {
  display: block;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: none;
}
b,
strong {
  font-weight: bold;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: 0;
}
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: 'AvenirLTStdBook';
  font-size: 16px;
  line-height: 1;
  color: #000000;
  background-color: #fafafa;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
}
textarea {
  resize: none;
  overflow: auto;
}
select::-ms-expand {
  display: none;
}
a {
  color: inherit;
}
a,
a:hover {
  text-decoration: none;
}
a:focus {
  outline: none;
}
a,
button,
input[type="submit"],
input[type="reset"],
a:before,
button:before,
input[type="submit"]:before,
input[type="reset"]:before,
a:after,
button:after,
input[type="submit"]:after,
input[type="reset"]:after {
  -webkit-transition: 250ms ease;
  -o-transition: 250ms ease;
  transition: 250ms ease;
}
figure {
  margin: 0;
}
figure a {
  display: inline-block;
  vertical-align: middle;
}
figure a img {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 150ms linear;
  -o-transition: all 150ms linear;
  transition: all 150ms linear;
}
img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  border: 0;
  vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 700;
  line-height: 1;
  color: inherit;
  margin: 0 0;
}
h1 {
  font-size: 41px;
}
h2 {
  font-size: 34px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 14px;
}
p {
  margin: 0;
}
.avenir-light {
  font-family: 'AvenirLTStdLight';
  font-weight: normal;
}
.avenir-book {
  font-family: 'AvenirLTStdBook';
  font-weight: normal;
}
.avenir-medium {
  font-family: 'AvenirLTStdMedium';
  font-weight: normal;
}
.avenir-heavy {
  font-family: 'AvenirLTStdHeavy';
  font-weight: normal;
}
.text-uppercase {
  text-transform: uppercase;
}
ul,
ol {
  padding-left: 0;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 768px) {
  .container {
    width: 740px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1120px) {
  .container {
    width: 1090px;
  }
}
.row {
  margin-left: -10px;
  margin-right: -10px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-1-inline, .col-sm-1-inline, .col-md-1-inline, .col-lg-1-inline, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-2-inline, .col-sm-2-inline, .col-md-2-inline, .col-lg-2-inline, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-3-inline, .col-sm-3-inline, .col-md-3-inline, .col-lg-3-inline, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-4-inline, .col-sm-4-inline, .col-md-4-inline, .col-lg-4-inline, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-5-inline, .col-sm-5-inline, .col-md-5-inline, .col-lg-5-inline, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-6-inline, .col-sm-6-inline, .col-md-6-inline, .col-lg-6-inline, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-7-inline, .col-sm-7-inline, .col-md-7-inline, .col-lg-7-inline, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-8-inline, .col-sm-8-inline, .col-md-8-inline, .col-lg-8-inline, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-9-inline, .col-sm-9-inline, .col-md-9-inline, .col-lg-9-inline, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-10-inline, .col-sm-10-inline, .col-md-10-inline, .col-lg-10-inline, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-11-inline, .col-sm-11-inline, .col-md-11-inline, .col-lg-11-inline, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12, .col-xs-12-inline, .col-sm-12-inline, .col-md-12-inline, .col-lg-12-inline {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-1-inline, .col-sm-2-inline, .col-sm-3-inline, .col-sm-4-inline, .col-sm-5-inline, .col-sm-6-inline, .col-sm-7-inline, .col-sm-8-inline, .col-sm-9-inline, .col-sm-10-inline, .col-sm-11-inline, .col-sm-12-inline {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
  }
  .col-sm-12,
  .col-sm-12-inline {
    width: 100%;
  }
  .col-sm-11,
  .col-sm-11-inline {
    width: 91.66666667%;
  }
  .col-sm-10,
  .col-sm-10-inline {
    width: 83.33333333%;
  }
  .col-sm-9,
  .col-sm-9-inline {
    width: 75%;
  }
  .col-sm-8,
  .col-sm-8-inline {
    width: 66.66666667%;
  }
  .col-sm-7,
  .col-sm-7-inline {
    width: 58.33333333%;
  }
  .col-sm-6,
  .col-sm-6-inline {
    width: 50%;
  }
  .col-sm-5,
  .col-sm-5-inline {
    width: 41.66666667%;
  }
  .col-sm-4,
  .col-sm-4-inline {
    width: 33.33333333%;
  }
  .col-sm-3,
  .col-sm-3-inline {
    width: 25%;
  }
  .col-sm-2,
  .col-sm-2-inline {
    width: 16.66666667%;
  }
  .col-sm-1,
  .col-sm-1-inline {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
}
.form-control {
  display: block;
  width: 100%;
  height: 50px;
  padding: 0 25px;
  font-size: 18px;
  font-size: #343436;
  color: #555555;
  background-color: #e1e1e1;
  background-image: none;
  border-radius: 25px;
  -webkit-box-shadow: 0 -2px 0 #c7c7c7, 1px 3px 0 #ffffff, inset 0 1px 6px rgba(0, 0, 0, 0.62);
  box-shadow: 0 -2px 0 #c7c7c7, 1px 3px 0 #ffffff, inset 0 1px 6px rgba(0, 0, 0, 0.62);
}
.form-control::-moz-placeholder {
  color: #999999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999999;
}
.form-control::-webkit-input-placeholder {
  color: #999999;
}
.form-submit {
  text-align: center;
}
.has-icon {
  position: relative;
}
.has-icon .form-control {
  padding-left: 90px;
}
.has-icon .icon {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 70px;
  height: 50px;
  text-align: center;
  line-height: 45px;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  background-image: -webkit-linear-gradient(top, #f5f5f5 0, #e0e0e0 100%);
  background-image: -o-linear-gradient(top, #f5f5f5 0, #e0e0e0 100%);
  background-image: linear-gradient(to bottom, #f5f5f5 0, #e0e0e0 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe0e0e0', GradientType=0);
  -webkit-box-shadow: inset -2.1px 2.1px 3px #ffffff;
  box-shadow: inset -2.1px 2.1px 3px #ffffff;
}
@media screen and (min-width: 768px) {
  .form-group {
    margin-bottom: 50px;
  }
  .form-submit {
    margin-top: 62px;
  }
}
@media screen and (max-width: 767px) {
  .form-group {
    margin-bottom: 30px;
  }
  .form-submit {
    margin-top: 42px;
  }
}
.btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  white-space: nowrap;
  text-transform: uppercase;
  font-family: 'AvenirLTStdLight';
  font-weight: normal;
  padding: 17px 46px;
  font-size: 18px;
  border-radius: 26px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn-default {
  color: #747474;
  -webkit-box-shadow: 0 2px 4px #aaaaaa, inset 0 1px 0 #ffffff;
  box-shadow: 0 2px 4px #aaaaaa, inset 0 1px 0 #ffffff;
  background-image: -webkit-linear-gradient(top, #eeeeee 0, #eeeeee 100%);
  background-image: -o-linear-gradient(top, #eeeeee 0, #eeeeee 100%);
  background-image: linear-gradient(to bottom, #eeeeee 0, #eeeeee 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeeeeee', endColorstr='#ffeeeeee', GradientType=0);
}
.btn-default:hover {
  background-image: -webkit-linear-gradient(top, #e6e6e6 0, #dcdbdb 100%);
  background-image: -o-linear-gradient(top, #e6e6e6 0, #dcdbdb 100%);
  background-image: linear-gradient(to bottom, #e6e6e6 0, #dcdbdb 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe6e6e6', endColorstr='#ffdcdbdb', GradientType=0);
}
.btn-default:active {
  -webkit-box-shadow: 1px 1.7px 0 #ffffff, inset 0 2px 4px rgba(0, 0, 0, 0.62);
  box-shadow: 1px 1.7px 0 #ffffff, inset 0 2px 4px rgba(0, 0, 0, 0.62);
  background-image: -webkit-linear-gradient(top, #efefef 0, #e0dfdf 100%);
  background-image: -o-linear-gradient(top, #efefef 0, #e0dfdf 100%);
  background-image: linear-gradient(to bottom, #efefef 0, #e0dfdf 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffefefef', endColorstr='#ffe0dfdf', GradientType=0);
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}
.clearfix:after,
.container:after,
.row:after {
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
