<div class="our-team-page clear-fix">
	<h2>Запознайте се с нашия ЕКИП</h2>
	<p>Всеки един от екипа на Център за слуха FONIO е отдаден на мисията да <strong>"Помагаме на клиентите ни да общуват"</strong>. Нашият екип имат дългогодишен опит в слухопротезирането, настройка и поддръжка на слуховите апарати с марката  <strong>Phonak</strong> и Signia Siemens. 10% от нашите специалисти са и ползватели на слухови апарати Phonak и от първо лице могат да споделят опита си с водещата швейцарска марка. Това ни дава самочувствието да смятаме, че наистина разбираме от проблема на хората с увреден слух и това, че можем да предоставим решение за него на световно ниво.</p>
	<p>Всички специалисти "Слухови апарати" преминават през вътрешната <strong> Fonio Академия</strong>, където се обучават по:</p>
	<ul>
		<li>Базова аудиология</li>
		<li>Отопластика</li>
		<li>Видове слухови апарати и настройки</li>
		<li>Педиатрични настройки</li>
	</ul>
	<p>Доверете ни се! Ще ви помогнем да чувате и общувате отново!</p>
	<h4 class="col-sm-12">Офис - София 1, ул. Хан Аспарух 31, директен тел.: <a href="tel:>0882 465 568">0882 465 568</a></h4>
	<div class="col-sm-6 our-team-member">
		<img alt="" src="http://fonio.bg/zing_upload/zing_block/2.png" style="height:200px; width:200px"/>
		<p><strong>Анжела Златанова</strong></p>
		<p>Специалист "Слухови апарати"</p>
	</div>
	<div class="col-sm-6 our-team-member">
		<img alt="" src="http://fonio.bg/zing_upload/zing_block/9_1.png" style="height:202px; width:205px" />
		<p><strong>Мариана Христова</strong></p>
		<p>Офис координатор</p>
	</div>
	<div class="col-sm-6 our-team-member">
		<img alt="" src="http://fonio.bg/zing_upload/zing_block/13.png" style="height:206px; width:200px" />
		<p><strong>Жаклин Колева</strong></p>
		<p>Специалист "Слухови апарати" и логопед</p>
	</div>
	<div class="col-sm-6 our-team-member">
		<img alt="" src="http://fonio.bg/zing_upload/zing_block/Sofi.png" style="height:199px; width:200px" />
		<p><strong>София Неделчева</strong></p>
		<p>"Специалист Слухови апарати"</p>
	</div>
	<h4 class="col-sm-12">Офис - София 2, бул. Васил Левски 97, директен тел.: <a href="tel:0882 465 567">0882 465 567</a></h4>
	<div class="col-sm-6 our-team-member">
		<img alt="" src="http://fonio.bg/zing_upload/zing_block/14.png" style="height:215px; width:200px" />
		<p><strong>Виолина Малинова</strong></p>
		<p>Офис координатор</p>
	</div>
	<div class="col-sm-6 our-team-member">
		<img alt="" src="http://fonio.bg/zing_upload/zing_block/1_1.jpg" style="height:205px; width:200px" />
		<p><strong>Невена Михайлова</strong></p>
		<p>Специалист "Слухови апарати" и слухово-речев рехабилитатор</p>
	</div>
	<div class="col-sm-6 our-team-member">
		<img alt="" src="http://fonio.bg/zing_upload/zing_block/3_1.jpg" style="height:205px; width:200px" />
		<p><strong>Биляна Николова</strong></p>
		<p>Специалист "Слухови апарати" и слухово-речев рехабилитатор</p>
	</div>
	<div class="col-sm-6 our-team-member">
		<img alt="" src="http://fonio.bg/zing_upload/zing_block/3_2.png" style="height:205px; width:205px" />
		<p><strong>Александра Ангелакова </strong></p>
		<p>Специалист "Слухови апарати"</p>
	</div>
	<h4 class="col-sm-12">Офис - София 3, ул. Опълченска и Стамболийски 89, директен тел.: <a href="tel:0893 02 78 27">0893 02 78 27</a></h4>
	<div class="col-sm-6 our-team-member">
		<img alt="" src="http://fonio.bg/zing_upload/zing_block/ScreenHunter_898%20Mar.%2013%2017.19.jpg" style="height:205px; width:205px" />
		<p><strong>Петя Тодорова</strong></p>
		<p>Специалист "Слухови апарати"</p>
	</div>
	<div class="col-sm-6 our-team-member">
		<img alt="" src="http://fonio.bg/zing_upload/zing_block/9.png" style="height:205px; width:205px" />
		<p><strong>Румяна Папазова</strong></p>
		<p>Специалист "Слухови апарати"</p>
	</div>
	<h4 class="col-sm-12">Офис - Варна, ул. Русе 15, директен тел.: <a href="tel:0882 923 930">0882 923 930</a></h4>
	<div class="col-sm-6 our-team-member">
		<img alt="" src="http://fonio.bg/zing_upload/zing_block/2_2.png" style="height:205px; width:205px" />
		<p><strong>Петя Недялкова</strong></p>
		<p>Офис координатор</p>
	</div>
	<div class="col-sm-6 our-team-member">
		<img alt="" src="http://fonio.bg/zing_upload/zing_block/11.png" style="height:205px; width:205px" />
		<p><strong>Добринка Андронова</strong></p>
		<p>Специалист "Слухови апарати"</p>
	</div>
	<div class="col-sm-6 our-team-member">
		<img alt="" src="http://fonio.bg/zing_upload/zing_block/10.png" style="height:205px; width:205px" />
		<p><strong>Сияна Стефанова </strong></p>
		<p>Специалист "Слухови апарати"</p>
	</div>
	<div class="col-sm-6 our-team-member">
		<img alt="" src="https://lh3.googleusercontent.com/FEc4THF2k4M_21rfsxjw3_TYgi-th3w80oG9e9osO4A=w550-h599-no" style="height:205px; width:188px" />
		<p><strong>Калина Нейчева</strong></p>
		<p>Специалист "Слухови апарати"</p>
	</div>
	<div class="col-sm-6 our-team-member">
		<img alt="" src="http://fonio.bg/zing_upload/zing_block/Untitled%20design%20(5).png" style="height:205px; width:205px" />
		<p><strong>Тенчо Кирчев</strong></p>
		<p>Специалист "Слухови апарати"</p>
	</div>
	<h4 class="col-sm-12">Офис - Пловдив, ул. Иван Вазов 42, директен тел.: <a href="tel0882 318 524">0882 318 524</a></h4>
	<div class="col-sm-6 our-team-member">
		<img alt="" src="http://fonio.bg/zing_upload/zing_block/5_1.png" style="height:205px; width:205px" />
		<p><strong>Славчо Бобчев</strong></p>
		<p>Специалист "Слухови апарати"</p>
	</div>
	<div class="col-sm-6 our-team-member">
		<img alt="" src="http://fonio.bg/zing_upload/zing_block/Untitled%20design%20(4)_2.png" style="height:205px; width:205px" />
		<p><strong>Таня Стоянова</strong></p>
		<p>Специалист "Слухови апарати"</p>
	</div>
	<div class="col-sm-6 our-team-member">
		<img alt="" src="http://fonio.bg/zing_upload/zing_block/4_2.png" style="height:200px; width:200px" />
		<p><strong>Елина Макатева</strong></p>
		<p>Специалист "Слухови апарати"</p>
	</div>
	<h4 class="col-sm-12">Офис Плевен, ул. Васил Левски 96, директен тел.: <a href="tel:0893 027 822">0893 027 822 </a></h4>
	<div class="col-sm-6 our-team-member">
		<img alt="" src="http://fonio.bg/zing_upload/zing_block/ScreenHunter_895%20Mar.%2013%2015.42.jpg" style="height:205px; width:205px" />
		<p><strong>Анна Петрова</strong></p>
		<p>Специалист "Слухови апарати"</p>
	</div>
	<div class="col-sm-6 our-team-member">
		<img alt="" src="http://fonio.bg/zing_upload/zing_block/6.png" style="height:200px; width:200px" />
		<p><strong>Владислава Цветанова</strong></p>
		<p>Специалист "Слухови апарати"</p>
	</div>
	<h4 class="col-sm-12">Офис Бургас, ул. Фердинандова 32, директен тел.: <a href="tel:0888 046 295">0888 046 295 </a></h4>
	<div class="col-sm-6 our-team-member">
		<img alt="" src="http://fonio.bg/zing_upload/zing_block/15.png" style="height:197px; width:210px" />
		<p><strong>Жанета Димова</strong></p>
		<p>Специалист "Слухови апарати"</p>
	</div>
	<div class="col-sm-6 our-team-member">
		<img alt="" src="http://fonio.bg/zing_upload/zing_block/4_4.png" style="height:200px; width:200px" />
		<p><strong>Кристина Стоянова</strong></p>
		<p>Специалист "Слухови апарати"</p>
	</div>
	<h4 class="col-sm-12">Офис Русе,  Търговски център Дунав, Партер, директен тел.: <a href="tel:0882 532 963">0882 532 963</a></h4>
	<div class="col-sm-6 our-team-member">
		<img alt="" src="http://fonio.bg/zing_upload/zing_block/ScreenHunter_617%20Nov.%2014%2010.41.jpg" style="height:200px; width:200px" />
		<p><strong>Камелия Ганева</strong></p>
		<p>Офис координатор</p>
	</div>
	<div class="col-sm-6 our-team-member">
		<img alt="" src="http://fonio.bg/zing_upload/zing_block/8_1.png" style="height:200px; width:200px" />
		<p><strong>Тамара Тодорова</strong></p>
		<p>Специалист "Слухови апарати"</p>
	</div>
	<div class="col-sm-6 our-team-member">
		<img alt="" src="http://fonio.bg/zing_upload/zing_block/10_1.png" style="height:200px; width:200px" />
		<p><strong>Емел Ашим </strong></p>
		<p>Специалист "Слухови апарати"</p>
	</div>
	<h4 class="col-sm-12">Офис Стара Загора, бул. Симеон Велики 69, директен тел.: <a href="tel:0887 495 944"> 0887 495 944</a></h4>
	<div class="col-sm-6 our-team-member">
		<img alt="" src="http://fonio.bg/zing_upload/zing_block/7.png" style="height:200px; width:200px" />
		<p><strong>Силвия Бонева</strong></p>
		<p>Специалист "Слухови апарати" и слухово-речев рехабилитатор</p>
	</div>
	<div class="col-sm-6 our-team-member">
		<img alt="" src="http://fonio.bg/zing_upload/zing_block/12_1.png" style="height:200px; width:200px" />
		<p><strong>Мария Симитева</strong></p>
		<p>Специалист "Слухови апарати"</p>
	</div>
	<div class="col-sm-6 our-team-member">
		<img alt="" src="http://fonio.bg/zing_upload/zing_block/ScreenHunter_736%20Dec.%2012%2011.53.jpg" style="height:200px; width:200px" />
		<p><strong>Славея Георгиева </strong></p>
		<p>Специалист "Слухови апарати"</p>
	</div>
	<div class="col-sm-6 our-team-member">
		<img alt="" src="http://fonio.bg/zing_upload/zing_block/3.png" style="height:200px; width:200px" />
		<p><strong>Таня Петкова </strong></p>
		<p>Специалист "Слухови апарати"</p>
	</div>
	<h4 class="col-sm-12"> Офис Велико Търново, ул. Марно Поле 24Г, директен тел.: <a href="tel:0882 465 578">0882 465 578</a></h4>
	<div class="col-sm-6 our-team-member">
		<img alt="" src="http://fonio.bg/zing_upload/zing_block/ScreenHunter_624%20Nov.%2018%2016.28.jpg" style="height:196px; width:200px" />
		<p><strong>Лили Тодорова </strong></p>
		<p>Специалист "Слухови апарати"</p>
	</div>
	<div class="col-sm-6 our-team-member">
		<img alt="" src="http://fonio.bg/zing_upload/zing_block/5.png" style="height:204px; width:200px" />
		<p><strong>Ваня Гавраилова </strong></p>
		<p>Специалист "Слухови апарати"</p>
	</div>
	<h4 class="col-sm-12">Офис Габрово, Скобелевска 30, директен тел.: <a href="tel:0887 729 635">0887 729 635 </a></h4>
	<div class="col-sm-6 our-team-member">
		<img alt="" src="http://fonio.bg/zing_upload/zing_block/11_1.png" style="height:190px; width:200px" />
		<p><strong>Сийка Христова </strong></p>
		<p>Специалист "Слухови апарати"</p>
	</div>
	<div class="col-sm-6 our-team-member">
		<img alt="" src="http://fonio.bg/zing_upload/zing_block/2_4.png" style="height:200px; width:200px" />
		<p><strong>Милена Марчева </strong></p>
		<p>Специалист "Слухови апарати"</p>
	</div>
	<h4 class="col-sm-12">Лаборатория за отопластика и сервиз</h4>
	<div class="col-sm-6 our-team-member">
		<img alt="" src="http://fonio.bg/zing_upload/zing_block/ScreenHunter_614%20Nov.%2014%2010.39.jpg" style="height:203px; width:205px" />
		<p><strong>Дико Демирев </strong></p>
		<p>Техник "Отопластика"</p>
	</div>
	<h4 class="col-sm-12">Административен офис</h4>
	<div class="col-sm-6 our-team-member">
		<img alt="" src="http://fonio.bg/zing_upload/zing_block/ScreenHunter_739%20Dec.%2012%2012.21.jpg" style="height:200px; width:200px" />
		<p><strong>Георги Миленчев </strong></p>
		<p>Управител</p>
	</div>
	<div class="col-sm-6 our-team-member">
		<img alt="" src="http://fonio.bg/zing_upload/zing_block/7_2.png" style="height:200px; width:200px" />
		<p><strong>Галина Пильова </strong></p>
		<p>Директор "Продукти и професионално развитие"</p>
	</div>
	<div class="col-sm-6 our-team-member">
		<img alt="" src="http://fonio.bg/zing_upload/zing_block/Untitled%20design.png" style="height:200px; width:200px" />
		<p><strong>Ивайло Минков </strong></p>
		<p>Мениджър "Продажби"</p>
	</div>
	<div class="col-sm-6 our-team-member">
		<img alt="" src="https://lh3.googleusercontent.com/EduUTgpurbpYv_Bz4NPdG5jbombN3H34_KFfW6t_hVs=w407-h448-no" style="height:200px; line-height:20.7999992370605px; width:182px" />
		<p><strong>Ганка Петкова </strong></p>
		<p>Офис Мениджър</p>
	</div>
	<div class="col-sm-6 our-team-member">
		<img alt="" src="http://fonio.bg/zing_upload/zing_block/%D0%A0%D0%BE%D1%81%D0%B8.png" style="height:200px; width:200px" />
		<p><strong>Росица Николова  </strong></p>
		<p>Маркетинг експерт</p>
	</div>
	<div class="col-sm-6 our-team-member">
		<img alt="" src="http://fonio.bg/zing_upload/zing_block/Deya%20%D0%A1%D0%B0%D0%B9%D1%82.png" style="height:200px; width:200px" />
		<p><strong>Деница Стойчева </strong></p>
		<p>Специалист "Маркетинг и реклама"</p>
	</div>
	<div class="col-sm-6 our-team-member">
		<img alt="" src="http://fonio.bg/zing_upload/zing_block/%D0%9B%D0%B8%D0%BB%D0%B8%D1%8F%20%D0%9C%D0%B0%D0%B7%D0%B3%D0%B0%D0%BB%D0%BE%D0%B2%D0%B0.jpg" style="height:199px; width:200px" />
		<p><strong>Лилия Мазгалова  </strong></p>
		<p>Счетоводител "Търговия на едро"</p>
	</div>
	<div class="col-sm-6 our-team-member">
		<img alt="" src="https://lh3.googleusercontent.com/fdds_e3om3tLUTq5gUH1cFZEIf_FAnjniQqbKWQORXk=w419-h454-no" style="height:200px; width:185px" />
		<p><strong>Мария Панталеева   </strong></p>
		<p>Координатор "Търговия на едро"</p>
	</div>
</div>
