<span class="box-title red">Клиенти</span>
<div class="box height170 box-img">
    <div class="box-text-left">
        <p><i>“Перфектно обслужване и отзивчивост на персонала. Записах си час и.....Вече чувам.”</i></p>
        <p>-Пенка Иванова</p>
        <a href="#">Виж всички</a>
    </div><!-- /.box-text-left -->

    <span class="box-2-img hidden-xs"><img src="/bundles/zing/admin/images/noimage.jpeg" "Клиенти"></span>
</div><!-- /.box -->