<form>
	<div class="form-group">
    	<input type="email" class="form-control mb10" placeholder="Email">
	</div>

	<div class="form-group">
    	<input class="btn-password" type="submit" value="Изпрати" name="">
	</div>
</form>