<div class="hearing-content clearfix">
	<div class="hearing-image-box col-sm-6">
		<a href="#">
			<img class="image-scale" src="{{asset('bundles/zing/front/images/help-to-close-img2.jpg')}}">
		</a>
	</div>
	<div class="hearing-text-box col-sm-6">
		<div class="hearing-text-box-content clearfix">
		<h4>Видове слухови апарати</h4>
            <p>С разнообразие от различни стилове и модели, всяка с различни нива на интелигентна технология, нашите експерти могат...
            </p>
            <a href="#">Научи повече<span class="fa fa-angle-right"></span></a>
        </div>
	</div>
</div>
<div class="hearing-content clearfix">
	<div class="hearing-text-box col-sm-6">
		<div class="hearing-text-box-content clearfix">
		<h4>Нашата продуктова гама</h4>
            <p>Открийте предимствата на различните видове и модели слухови апарати. Вашият аудиолог ще обсъди наличните опции...
            </p>
            <a href="#">Научи повече<span class="fa fa-angle-right"></span></a>
        </div>
	</div>
	<div class="hearing-image-box col-sm-6">
		<a href="#">
			<img class="image-scale" src="{{asset('bundles/zing/front/images/help-to-close-img3.jpg')}}">
		</a>
	</div>
</div>