{% for category in categories %}
    <ul class="categories-list list-unstyled">
        <li {% if category.getUrl()[0].getUrl() == path %}class="current-categories"{% endif %}>

                <a href="/store{{ store_category_url_manager.fullCategoryPath(category.getUrl()[0].getUrl()) }}">{{ category.getName() }}</a>

            {% if category.getChild()[0] is defined %}
                {% set categories = category.getChild() %}
                    {{ include('ZingCorePageBundle:Default:Available/Template/Front/store_categories_sub.html.twig') }}
            {% endif %}
        </li>
    </ul>
{% endfor %}

