{% if post_success %}
    <div class="alert alert-success" role="alert">Паролата е променена успешно</div>
{% endif %}

{% if post_error %}
    {% set errors = post_error %}
{% endif %}

<form method="post">
    <input type="hidden" name="zing_verify_code" value="{{ zing_verify_code }}" />
    <input type="hidden" name="t" value="core" />
    <input type="hidden" name="b" value="user" />
    <input type="hidden" name="c" value="user" />
    <input type="hidden" name="m" value="userChangePassword" />

    <div class="row">
        <div class="col-md-12">
            <div class="box-title green mb10">Смяна на паролата</div>
            <div class="form-group">
                <label>Стара парола: <span class="text-danger">*</span></label>
                <input class="form-control {% if errors['old_password'] %}danger-field{%endif%}" type="password" name="old_password" autocomplete="off"/>
                {% if errors['old_password'] %}<p class="text-danger">{{ errors['old_password'] }}</p>{%endif%}
            </div><!-- /.form-group -->

            <div class="form-group">
                <label>Нова парола: <span class="text-danger">*</span></label>
                <input class="form-control {% if errors['new_password'] %}danger-field{%endif%}" type="password" name="new_password" />
                {% if errors['new_password'] %}<p class="text-danger">{{ errors['new_password'] }}</p>{%endif%}
            </div><!-- /.form-group -->

            <div class="form-group">
                <label>Повтори новата парола: <span class="text-danger">*</span></label>
                <input class="form-control {% if errors['new_password_again'] %}danger-field{%endif%}" type="password" name="new_password_again" />
                {% if errors['new_password_again'] %}<p class="text-danger">{{ errors['new_password_again'] }}</p>{%endif%}
            </div><!-- /.form-group -->
        </div><!-- /.col-md-12 -->
    </div><!-- /.row -->

    <hr />

    <div class="form-group">
        <input class="btn btn-primary" type="submit" value="Смени паролата">
    </div>
</form>
