<div class="hearing-content clearfix">
	<div class="hearing-image-box col-sm-6">
		<a href="#">
			<img class="image-scale" src="{{asset('bundles/zing/front/images/wear-aids-img2.jpg')}}">
		</a>
	</div>
	<div class="hearing-text-box col-sm-6">
		<div class="hearing-text-box-content clearfix">
		<h4>Поддръжка на апарат</h4>
            <p>Важно е да се грижите за слуховите си апарати не само за поддържане на високи нива на производителност, но и за това...
            </p>
            <a href="#">Научи повече<span class="fa fa-angle-right"></span></a>
        </div>
	</div>
</div>
<div class="hearing-content clearfix">
	<div class="hearing-text-box col-sm-6">
		<div class="hearing-text-box-content clearfix">
		<h4>Доживотна грижа</h4>
            <p>Важно е да Ви виждаме редовно, за да проверявате постоянното представяне на слуховите апарати, както и здравето на...
            </p>
            <a href="#">Научи повече<span class="fa fa-angle-right"></span></a>
        </div>
	</div>
	<div class="hearing-image-box col-sm-6">
		<a href="#">
			<img class="image-scale" src="{{asset('bundles/zing/front/images/wear-aids-img3.jpg')}}">
		</a>
	</div>
</div>