<div class="hearing-believe">
	<img class="image-scale" src="{{asset('bundles/zing/front/images/wear-aids-banner.jpg')}}">
	<h2>Насладете се на света</h2>
</div>
<div class="hearing-content clearfix">
	<div class="hearing-text-box col-sm-6">
		<div class="hearing-text-box-content clearfix">
		<h4>Новите технологии</h4>
            <p>Технологията за слухови апарати непрекъснато се развива и като предшественик при възприемането на най-новата иновативна слушалка за носене...
            </p>
            <a href="#">Научи повече<span class="fa fa-angle-right"></span></a>
        </div>
	</div>
	<div class="hearing-image-box col-sm-6">
		<a href="#">
			<img class="image-scale" src="{{asset('bundles/zing/front/images/wear-aids-img1.jpg')}}">
		</a>
	</div>
</div>
