<div class="hearing-believe">
	<img class="image-scale" src="{{asset('bundles/zing/front/images/new-banner.jpg')}}">
	<h2>Слуха е вяра</h2>
</div>
<div class="hearing-content clearfix">
	<div class="hearing-text-box col-sm-6">
		<div class="hearing-text-box-content clearfix">
		<h4>Защо губим слуха си</h4>
            <p>Загубата на слуха е често срещан проблем и днес във България има над 1 милиона души, които живеят със загуба на слуха...
            </p>
            <a href="#">Научи повече<span class="fa fa-angle-right"></span></a>
        </div>
	</div>
	<div class="hearing-image-box col-sm-6">
		<a href="#">
			<img class="image-scale" src="{{asset('bundles/zing/front/images/hearing-img2.jpg')}}">
		</a>
	</div>
</div>
<div class="hearing-content clearfix">
	<div class="hearing-image-box col-sm-6">
		<a href="#">
			<img class="image-scale" src="{{asset('bundles/zing/front/images/hearing-img1.jpg')}}">
		</a>
	</div>
	<div class="hearing-text-box col-sm-6">
		<div class="hearing-text-box-content clearfix">
		<h4>Усещате загуба на слуха</h4>
            <p>Понякога не е лесно да разпознаете симптомите на загуба на слуха или да знаете какъв тип загуба на слух може да имате...
            </p>
            <a href="#">Научи повече<span class="fa fa-angle-right"></span></a>
        </div>
	</div>
</div>
<div class="hearing-content clearfix">
	<div class="hearing-image-box col-sm-6">
		<a href="#">
			<img class="image-scale" src="{{asset('bundles/zing/front/images/hearing-img3.jpg')}}">
		</a>
	</div>
	<div class="hearing-text-box col-sm-6">
		<div class="hearing-text-box-content clearfix">
		<h4>Слухови апарати от 495 лева</h4>
            <p>Слуховите апарати могат да окажат влияние, кето ще промени живота ви твоят експерт във Fonio може да ти помогне...
            </p>
            <a href="#">Научи повече<span class="fa fa-angle-right"></span></a>
        </div>
	</div>
</div>
