<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="robots" content="Index, Follow">
</head>
<body>
    Здравейте <strong>{{ user }}</strong>, Вие успешно се регистрирахте в
    <strong><a href="{{ domein }}">{{ domein }}</a></strong>
</body>
</html>