@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

@font-face { 
  font-family: Arial; 
  src: url(fonts/arial.ttf);
}

body{
	background-color: #000;
}
main{
	width: 300px;
	height: 250px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFF;
	overflow: hidden;
	position: relative;
	cursor: pointer;
}
.player{
	display: inline-block;
    float: left;
    margin-top: 3px;
}
.logo{
	display: inline-block;
    float: right;
    margin: 11px 13px 0px 0px;
}
.red-box{
    background-color: rgba(185, 0, 0, 0.75);
    position: absolute;
    width: 107%;
    top: 67px;
    left: -10px;
    transform: rotate(-4deg);
    height: 127px;
    text-align: center;
}
.button{
	font-family: 'Roboto Condensed', sans-serif;
    position: absolute;
    bottom: 12px;
    right: 42px;
    background-color: #b60000;
    padding: 2px 37px;
    color: #FFF;
    border-radius: 25px;
    font-weight: 600;
    font-size: 21px;
    text-transform: uppercase;
    transition: all .2s;
}
.button:hover{
	background-color: #e92027;
}
.privacy{
	position: absolute;
	bottom: 4px;
	left: 4px;
}
#bonus h4{
	opacity: 1;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 2px 2px 20px #000;
	transform: rotate(+4deg);
	color: #FFF;
	font-size: 75px;
	position: absolute;
	top: 14px;
	right: 42px;
	line-height: .5;
	font-family: Arial;
}
#bonus span{
	font-size: 32px;
}
#new-client h4{
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 2px 2px 20px #000;
	transform: rotate(+4deg);
	color: #FFF;
	font-size: 45px;
	position: absolute;
	top: 14px;
	right: 42px;
	line-height: .9;
	font-family: Arial;
	opacity: 0;
}
#new-client span{
	text-transform: lowercase;
}

