{% extends "ZingCoreFrontBundle::layout.html.twig" %}

{% block body %}
    <div class="grey-block">
    <div class="container fonio-pages">
    <div class="row mt25 mb25">
        <div class="col-md-4 col-xs-12 col-md-offset-4">
            {% for blocks in blocks[1] %}
                {% set page_block = blocks.getBlock().getBlockType().getTemplateName() %}
                {{ include('ZingCorePageBundle:Default:Available/Template/Front/' ~ page_block) }}
            {% endfor %}
        </div><!-- /.col-md-4 -->      
    </div><!-- /.row -->
    </div><!-- container -->
    </div><!-- grey-block -->
{% endblock %}

{% block javascript %}
    {{ include('ZingCorePageBundle:Default:Available/Layout/load_javascript.html.twig') }}
{% endblock %}

{% block header %}
    {{ include('ZingCorePageBundle:Default:Available/Layout/load_css.html.twig') }}
{% endblock %}