<div class="col-xlg-1 col-lg-2 col-md-3 col-sm-3 text-center">
    <input type="radio" name="layout" id="layout-8">
    <label class="layout" for="layout-8">
        <div class="col-lg-4 col-md-4 col-sm-4"><div class="layout-position mb0" style="height: 188px;"></div></div>
        <div class="col-lg-4 col-md-4 col-sm-4"><div class="layout-position mb0" style="height: 188px;"></div></div>
        <div class="col-lg-4 col-md-4 col-sm-4"><div class="layout-position mb0" style="height: 188px;"></div></div>
    </label><!-- /layout -->
</div><!-- /.col-lg-2 -->