<h2>Статус на поръчка</h2>
Вашата поръчка с номер <strong>{{ order.getId() }}</strong> беше {{ status }}.


За повече информация за поръчката, проверете Вашия <a href="{{ domein }}/profile-orders">акаунт</a> в {{ domein }}.
