{% set code = '<div>
        <iframe src="http://dev.fonio.bg/test-na-sluha-embedded" style="width: 100%; min-height: 100vh; border: none; margin: 0; padding: 0; display: block;" scrolling="no"></iframe>
    </div>' %}

<div id="content-column" class="col-lg-12 col-md-12">
    <pre>
        {{ code }}
    </pre>
</div>