<div class="submenu">
    <div class="col-xlg-1 col-lg-1 col-md-1 col-sm-1"><a class="box {% if path == '/admincp/poll' %} tabactive{% endif %}" href="/admincp/poll"><i class="fa fa-list-alt animated"></i> <span>{% trans %}Polls{% endtrans %}</span></a></div>
    <div class="col-xlg-1 col-lg-1 col-md-1 col-sm-1"><a class="box {% if 'question' in path %} tabactive{% endif %}" href="/admincp/poll/question"><i class="fa fa-question animated"></i> <span>{% trans %}Questions{% endtrans %}</span></a></div>
</div><!-- /.submenu -->