.widget_es_search_widget.es-widget {
  width: 100% !important; }

.select2-dropdown {
  border: 1px solid #e2e2e2;
  border-radius: 0; }

.select2-results__option[aria-selected] {
  font-size: 15px;
  padding: 2px 12px 2px 12px !important;
  color: #111;
  font-family: 'Open Sans', sans-serif; }

.select2-results__option--highlighted, .select2-results__option:hover {
  background-color: #e2e2e2 !important;
  color: #111 !important; }

.es-search__wrapper {
  background: #f0f0f0;
  padding: 20px 20px 10px 20px;
  color: #707070;
  font-family: 'Open Sans', sans-serif; }
  .es-search__wrapper .widget-title {
    color: #1d1d1d;
    line-height: 30px;
    font-size: 30px !important;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0 !important;
    font-family: 'Open Sans', sans-serif; }
  .es-search__wrapper .es-search__field {
    margin: 10px 0; }
    .es-search__wrapper .es-search__field > input {
      height: 28px;
      box-sizing: border-box;
      font-family: 'Open Sans', sans-serif !important; }
    .es-search__wrapper .es-search__field .es-field__label {
      color: #1d1d1d;
      font-size: 14px;
      line-height: 20px; }
      .es-search__wrapper .es-search__field .es-field__label label {
        display: inline;
        font-weight: 400;
        margin: 0; }
    .es-search__wrapper .es-search__field .es-field__wrap input, .es-search__wrapper .es-search__field .es-field__wrap select {
      background: #fff;
      box-shadow: 0 0 0;
      border: 1px solid #e2e2e2;
      box-sizing: border-box;
      font-family: 'Open Sans', sans-serif !important; }
    .es-search__wrapper .es-search__field .es-field__wrap > select, .es-search__wrapper .es-search__field .es-field__wrap > input {
      width: 100%;
      height: 28px; }
    .es-search__wrapper .es-search__field .es-field__wrap .select2 {
      width: 100% !important; }
      .es-search__wrapper .es-search__field .es-field__wrap .select2 * {
        font-family: 'Open Sans', sans-serif; }
      .es-search__wrapper .es-search__field .es-field__wrap .select2 .select2-search {
        margin: 0;
        padding: 0; }
      .es-search__wrapper .es-search__field .es-field__wrap .select2 .select2-selection__rendered {
        padding: 0; }
      .es-search__wrapper .es-search__field .es-field__wrap .select2 .select2-selection__choice__remove {
        color: #fff; }
      .es-search__wrapper .es-search__field .es-field__wrap .select2 .select2-selection {
        border: 1px solid #e2e2e2;
        border-radius: 0;
        padding: 1px 7px; }
      .es-search__wrapper .es-search__field .es-field__wrap .select2 .select2-selection__choice {
        border-radius: 0;
        border: 0;
        background: #ff9600;
        color: #fff;
        font-size: 15px; }
      .es-search__wrapper .es-search__field .es-field__wrap .select2 .select2-search__field {
        border: 0;
        font-size: 15px; }
    .es-search__wrapper .es-search__field .es-field__wrap .es-field__range {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      .es-search__wrapper .es-search__field .es-field__wrap .es-field__range input, .es-search__wrapper .es-search__field .es-field__wrap .es-field__range select {
        width: 47.5%;
        height: 28px; }
      .es-search__wrapper .es-search__field .es-field__wrap .es-field__range input {
        text-align: center; }
    .es-search__wrapper .es-search__field .es-field__wrap.es-field__wrap--units .es-field__range input, .es-search__wrapper .es-search__field .es-field__wrap.es-field__wrap--units .es-field__range select {
      width: 31.33333%;
      height: 28px; }
    .es-search__wrapper .es-search__field .es-field__wrap.es-field__wrap--units .es-field__range .es-dropdown-wrap {
      width: 31.33333%; }
      .es-search__wrapper .es-search__field .es-field__wrap.es-field__wrap--units .es-field__range .es-dropdown-wrap .es-dropdown-list {
        width: auto; }
    .es-search__wrapper .es-search__field.es-search__field--address {
      margin: 15px 0; }
      .es-search__wrapper .es-search__field.es-search__field--address .es-field__label {
        display: none; }
      .es-search__wrapper .es-search__field.es-search__field--address input {
        width: 100%; }
  .es-search__wrapper .es-search__buttons input {
    margin-top: 0; }
  .es-search__wrapper.es-search__wrapper--vertical .es-search__field {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center; }
    .es-search__wrapper.es-search__wrapper--vertical .es-search__field .es-field__wrap {
      flex: 1 0 70%; }
    .es-search__wrapper.es-search__wrapper--vertical .es-search__field .es-field__label {
      flex: 0 1 28%;
      padding-right: 2%; }
  .es-search__wrapper.es-search__wrapper--vertical .es-search__buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px -2.5% 0 -2.5%; }
    .es-search__wrapper.es-search__wrapper--vertical .es-search__buttons .es-button__wrap {
      flex: 1 0 45%;
      padding: 0 2.5%; }
      .es-search__wrapper.es-search__wrapper--vertical .es-search__buttons .es-button__wrap input {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px; }
  .es-search__wrapper.es-search__wrapper--horizontal {
    padding: 10px; }
    .es-search__wrapper.es-search__wrapper--horizontal .widget-title {
      padding: 10px; }
    .es-search__wrapper.es-search__wrapper--horizontal form {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center; }
      .es-search__wrapper.es-search__wrapper--horizontal form .es-search__buttons {
        order: -1;
        -webkit-order: -1;
        display: flex; }
        .es-search__wrapper.es-search__wrapper--horizontal form .es-search__buttons .es-button__wrap {
          flex: 1 0 50%;
          padding: 0 2.5%; }
        .es-search__wrapper.es-search__wrapper--horizontal form .es-search__buttons input {
          width: 100%;
          padding: 10px 0; }
      .es-search__wrapper.es-search__wrapper--horizontal form .es-search__field, .es-search__wrapper.es-search__wrapper--horizontal form .es-search__buttons {
        width: 33.3%;
        padding: 0 10px; }
        .es-search__wrapper.es-search__wrapper--horizontal form .es-search__field.es-search__field--address, .es-search__wrapper.es-search__wrapper--horizontal form .es-search__buttons.es-search__field--address {
          flex: 2 0 66.6%;
          order: -2;
          -webkit-order: -2; }
  .es-search__wrapper .es-dropdown-wrap {
    font-size: 14px !important;
    border: 1px solid #e2e2e2;
    background: #fff;
    width: 100%; }
    .es-search__wrapper .es-dropdown-wrap .es-label {
      max-height: 19px;
      width: calc(100% - 25px);
      overflow: hidden;
      vertical-align: middle;
      display: inline-block; }
    .es-search__wrapper .es-dropdown-wrap ul {
      border: 1px solid #e2e2e2; }
      .es-search__wrapper .es-dropdown-wrap ul li {
        margin: 0;
        padding: 0; }
        .es-search__wrapper .es-dropdown-wrap ul li a {
          width: 100%;
          display: inline-block;
          padding: 1px 12px 0 12px !important; }
    .es-search__wrapper .es-dropdown-wrap .es-dropdown-label {
      color: #9e9e9e;
      margin: 1px 0 0 12px !important;
      position: relative;
      min-height: 24px; }
      .es-search__wrapper .es-dropdown-wrap .es-dropdown-label .fa {
        padding: 6px 9px 7px;
        margin-top: 0;
        color: #000;
        top: -1px;
        right: 0;
        font-size: 12px;
        position: absolute; }
    .es-search__wrapper .es-dropdown-wrap.show .fa {
      background: #9e9e9e; }
    .es-search__wrapper .es-dropdown-wrap.show a {
      color: #1d1d1d; }

.es-widget input {
  border-radius: 0;
  padding: 0 12px; }

.fa-rub {
  font-size: 21px !important; }

.es-theme-dark .es-price {
  background: #0f0f0f;
  color: #d1d1d1; }
  .es-theme-dark .es-price i {
    font-size: 22px;
    -webkit-text-stroke: 1px #0f0f0f; }
.es-theme-dark .es-property-fields {
  color: #d1d1d1 !important; }
.es-theme-dark .es-tabbed-item {
  color: #d1d1d1 !important; }
  .es-theme-dark .es-tabbed-item h3 {
    color: #444950 !important;
    border-bottom: 1px solid #444950 !important; }
  .es-theme-dark .es-tabbed-item i.fa {
    color: #0f0f0f; }
.es-theme-dark .es-single-tabs-wrap {
  background: #0f0f0f; }
  .es-theme-dark .es-single-tabs-wrap ul {
    border-bottom: none !important; }
  .es-theme-dark .es-single-tabs-wrap li {
    background: #0f0f0f !important; }
    .es-theme-dark .es-single-tabs-wrap li a {
      background: #0f0f0f !important;
      color: #d1d1d1 !important; }
      .es-theme-dark .es-single-tabs-wrap li a.active {
        border: 1px solid #2e2e2e !important; }
.es-theme-dark .es-category-items a {
  color: #d1d1d1 !important; }
.es-theme-dark .es-widget {
  color: #d1d1d1 !important; }
  .es-theme-dark .es-widget .es-search__wrapper {
    background: #0f0f0f !important; }
    .es-theme-dark .es-widget .es-search__wrapper .es-field__label {
      color: #d1d1d1; }
    .es-theme-dark .es-widget .es-search__wrapper .es-field__wrap input {
      color: #d1d1d1; }
  .es-theme-dark .es-widget h4, .es-theme-dark .es-widget .widget-title {
    color: #d1d1d1; }
  .es-theme-dark .es-widget input[type=text], .es-theme-dark .es-widget select, .es-theme-dark .es-widget input[type=number] {
    background-color: #000 !important;
    border-color: #2e2e2e !important;
    color: #9e9e9e; }
    .es-theme-dark .es-widget input[type=text]::-webkit-input-placeholder, .es-theme-dark .es-widget select::-webkit-input-placeholder, .es-theme-dark .es-widget input[type=number]::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #d1d1d1; }
    .es-theme-dark .es-widget input[type=text]::-moz-placeholder, .es-theme-dark .es-widget select::-moz-placeholder, .es-theme-dark .es-widget input[type=number]::-moz-placeholder {
      /* Firefox 19+ */
      color: #d1d1d1; }
    .es-theme-dark .es-widget input[type=text]:-ms-input-placeholder, .es-theme-dark .es-widget select:-ms-input-placeholder, .es-theme-dark .es-widget input[type=number]:-ms-input-placeholder {
      /* IE 10+ */
      color: #d1d1d1; }
    .es-theme-dark .es-widget input[type=text]:-moz-placeholder, .es-theme-dark .es-widget select:-moz-placeholder, .es-theme-dark .es-widget input[type=number]:-moz-placeholder {
      /* Firefox 18- */
      color: #d1d1d1; }
  .es-theme-dark .es-widget input[type=reset]:hover {
    background: #000 !important;
    color: #d1d1d1 !important; }
  .es-theme-dark .es-widget #es-search-address-input {
    background-color: #000 !important;
    border-color: #2e2e2e !important; }
.es-theme-dark .es-button-orange-corner {
  color: #d1d1d1 !important; }
.es-theme-dark .es-property-inner {
  border: 1px solid #0f0f0f !important; }
  .es-theme-dark .es-property-inner:hover {
    border: 1px solid #d1d1d1 !important; }
.es-theme-dark .es-bottom-icon {
  color: #d1d1d1 !important; }
.es-theme-dark .es-property-info a {
  color: #d1d1d1 !important; }
.es-theme-dark .es-dropdown-wrap {
  color: #d1d1d1 !important;
  background-color: #000 !important;
  border-color: #2e2e2e !important; }
  .es-theme-dark .es-dropdown-wrap ul {
    border-color: #2e2e2e !important; }
  .es-theme-dark .es-dropdown-wrap li {
    background: #0f0f0f; }
    .es-theme-dark .es-dropdown-wrap li a {
      color: #d1d1d1 !important; }
    .es-theme-dark .es-dropdown-wrap li:hover {
      background: #0f0f0f !important;
      opacity: 0.9; }

.es-theme-dark .es-thumbnail-bottom {
  background: url(../../images/photo-icon.png) 10px center no-repeat rgba(0, 0, 0, 0.8) !important;
  color: #d1d1d1; }

.es-theme-dark .es-property-label {
  background: #0f0f0f !important; }

.es-powered {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #1d1d1d;
  font-size: 13px;
  margin-top: 80px; }
  .es-powered a {
    color: #1d1d1d;
    text-decoration: underline; }

.es-wrap * {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  list-style: none;
  outline: none !important; }
  .es-wrap * .page-title .es-dropdown-wrap {
    float: right; }
    .es-wrap * .page-title .es-dropdown-wrap .fa-caret-down {
      margin-left: 10px; }
  .es-wrap * > .hentry {
    border: 0;
    box-shadow: none; }

.es-wrap a {
  outline: none !important; }

.es-price {
  display: inline-block;
  background: #f0f0f0;
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  padding: 7px 10px;
  text-overflow: ellipsis;
  margin: 0;
  flex: 0 0 auto; }

#es-map-inner {
  height: 300px; }

.es-button {
  font-family: 'Open Sans', sans-serif !important;
  color: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  text-align: center !important;
  padding: 5px 15px;
  font-size: 15px !important;
  text-decoration: none; }
  .es-button:visited, .es-button:link {
    color: #fff !important; }

.es-button-orange {
  background: #ff9600 !important;
  color: #fff; }

.es-button-orange-corner {
  border: 1px solid #ff9600 !important;
  background: none !important;
  color: #111 !important; }

.es-button-orange-corner:hover {
  background: #ff9600 !important;
  color: #fff !important; }

.es-button-gray {
  color: #111 !important;
  background: #9e9e9e !important;
  font-weight: 500 !important;
  border: 0; }

.es-button-gray:hover {
  background: #fff !important; }

.es-button:hover {
  color: #1d1d1d; }

.es-icon {
  display: inline-block;
  vertical-align: middle;
  margin-top: -2px; }

.es-bath {
  background: url("../../images/bath_icon.png");
  width: 22px;
  height: 20px; }

.es-bed {
  background: url("../../images/bed_icon.png");
  width: 25px;
  height: 15px; }

.es-squirefit {
  background: url("../../images/squirefit_icon.png");
  width: 16px;
  height: 16px; }

.ui-widget.ui-widget-content {
  border: 0 !important; }

.ui-dialog {
  border-radius: 15px !important; }

.ui-dialog-titlebar {
  padding: .4em 1em 0 1em !important;
  border: 0 !important;
  background: none !important;
  font-size: 25px;
  color: #1d1d1d !important;
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 500 !important; }

.ui-dialog-titlebar-close {
  background: #fff !important;
  border: 0 !important;
  box-shadow: none;
  color: #1d1d1d;
  font-size: 25px;
  font-weight: 700; }

.es-dropdown-container {
  text-align: right; }

.es-dropdown-wrap {
  text-align: left;
  cursor: pointer;
  border: 1px solid #aaaaaa;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px !important;
  min-width: 40px;
  position: relative;
  font-weight: 400;
  max-height: 30px; }
  .es-dropdown-wrap .es-label {
    margin-right: 4px; }
  .es-dropdown-wrap.show {
    display: inline-block !important; }

.es-dropdown-wrap, .es-dropdown-wrap a {
  color: #111; }

.es-dropdown-wrap .es-list-dropdown, .es-dropdown-wrap .es-dropdown-list {
  position: absolute;
  width: 101.5%;
  left: -1px;
  height: 100%;
  z-index: 10; }

.es-dropdown-wrap ul {
  margin: 0 !important;
  padding: 0 !important;
  list-style: none !important;
  z-index: 10;
  width: 100%;
  border: 1px solid #111; }

.es-dropdown-wrap.show .es-list-dropdown, .es-dropdown-wrap.show .es-dropdown-list {
  display: block !important; }

.es-dropdown-wrap.show {
  border: 1px solid #111; }

.es-dropdown-wrap.es-dropdown-hide .es-list-dropdown, .es-dropdown-wrap.es-dropdown-hide .es-dropdown-list {
  display: none;
  position: absolute; }

.es-dropdown-wrap ul li:hover {
  background: #e2e2e2; }

.es-dropdown-wrap ul li.active {
  background: #e2e2e2; }

.es-dropdown-wrap ul li.active a {
  color: #adadad; }

.es-dropdown-wrap a:hover {
  color: #111; }

.es-dropdown-wrap a {
  text-decoration: none !important;
  box-shadow: 0 0 0 !important; }

.es-dropdown-label {
  margin: 5px 10px !important;
  display: block;
  line-height: 19px; }

.es-dropdown-label .fa {
  float: right;
  margin-top: 3px; }

.es-dropdown-wrap li {
  padding: 5px 10px !important;
  background: #fff;
  margin: 0 !important; }

.es-dropdown-right {
  float: right; }

.es-gallery {
  max-width: 450px; }

/*# sourceMappingURL=front.css.map */
