<div class="row">
    <div class="col-md-12">
        <span class="position-label">One column</span>
        <div class="position" data-position-id="1">
            {% for blocks in thumb_blocks_by_positions[1] %}
                {% set page_block = blocks.getBlock().getBlockRel() %}
                {{ include('ZingCorePageBundle:Default:Layout/new_index.html.twig') }}
            {% endfor %}
        </div>
    </div><!-- /.col-md-12 -->
</div><!-- /.row -->

