<div class="row">
    <div class="col-lg-6 mb10">
        <span class="position-label">Left</span>
        <div class="position" data-position-id="1">
            {% for blocks in thumb_blocks_by_positions[1] %}
                {% set page_block = blocks.getBlock().getBlockRel() %}
                {{ include('ZingCorePageBundle:Default:Layout/thumb_block.html.twig') }}
            {% endfor %}
        </div>
    </div><!-- /.col-lg-3 -->

    <div class="col-lg-6 mb10">
        <span class="position-label">Center</span>
        <div class="position" data-position-id="2">
            {% for blocks in thumb_blocks_by_positions[2] %}
                {% set page_block = blocks.getBlock().getBlockRel() %}
                {{ include('ZingCorePageBundle:Default:Layout/thumb_block.html.twig') }}
            {% endfor %}
        </div>
    </div><!-- /.col-lg-6 -->
</div><!-- /.row -->