{% extends "ZingCoreAdminBundle::layout.html.twig" %}

{% block body %}
    <div class="col-lg-12 col-md-12">
        <div class="box">
            <div class="box-title">
                Components
                <div class="box-title-options">
                    <a class="btn btn-default" href="#"><i class="fa fa-reorder"></i> Reorder</a>
                    <a class="btn btn-default" href="components-add.html"><i class="fa fa-plus"></i> Add Component</a>
                </div><!-- /.box-title-options -->
            </div>
            <div class="box-content">
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-lg-4 col-xlg-2 mb10">
                        <div class="component">
                            <span class="component-img"><i class="fa fa-shopping-cart animated"></i></span>
                            <span class="component-name">Store</span>
                            <span class="component-version">v.0.1</span>
                            <span class="component-status">
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-sm btn-toggle-active active">
                                        <input type="radio" name="status-1" value="1" checked>Active
                                    </label>
                                    <label class="btn btn-sm btn-toggle-unactive">
                                        <input type="radio" name="status-1" value="0">Unactive
                                    </label>

                                    <button class="btn btn-warning ml10 btn-tooltip" data-toggle="tooltip" data-placement="top" data-trigger="hover focus" data-container="body" title="v.0.2 is available for download"><i class="fa fa-download"></i></button>
                                </div>
                            </span><!-- /.component-status -->
                            <span class="component-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span>
                        </div><!-- /.component -->
                    </div><!-- /.col-lg-4 -->

                    <div class="col-sm-6 col-md-4 col-lg-4 col-xlg-2 mb10">
                        <div class="component">
                            <span class="component-img"><i class="fa fa-file-text-o animated"></i></span>
                            <span class="component-name">News</span>
                            <span class="component-version">v.0.1</span>
                            <span class="component-status">
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-sm btn-toggle-active active">
                                        <input type="radio" name="status-2" value="1" checked>Active
                                    </label>
                                    <label class="btn btn-sm btn-toggle-unactive">
                                        <input type="radio" name="status-2" value="0">Unactive
                                    </label>
                                </div>
                            </span><!-- /.component-status -->
                            <span class="component-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span>
                        </div><!-- /.component -->
                    </div><!-- /.col-lg-4 -->

                    <div class="col-sm-6 col-md-4 col-lg-4 col-xlg-2 mb10">
                        <div class="component">
                            <span class="component-img"><i class="fa fa-calendar animated"></i></span>
                            <span class="component-name">Events</span>
                            <span class="component-version">v.0.1</span>
                            <span class="component-status">
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-sm btn-toggle-active active">
                                        <input type="radio" name="status-3" value="1" checked>Active
                                    </label>
                                    <label class="btn btn-sm btn-toggle-unactive">
                                        <input type="radio" name="status-3" value="0">Unactive
                                    </label>
                                </div>
                            </span><!-- /.component-status -->
                            <span class="component-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span>
                        </div><!-- /.component -->
                    </div><!-- /.col-lg-4 -->

                    <div class="col-sm-6 col-md-4 col-lg-4 col-xlg-2 mb10">
                        <div class="component">
                            <span class="component-img"><i class="fa fa-photo animated"></i></span>
                            <span class="component-name">Images</span>
                            <span class="component-version">v.0.1</span>
                            <span class="component-status">
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-sm btn-toggle-active active">
                                        <input type="radio" name="status-4" value="1" checked>Active
                                    </label>
                                    <label class="btn btn-sm btn-toggle-unactive">
                                        <input type="radio" name="status-4" value="0">Unactive
                                    </label>
                                </div>
                            </span><!-- /.component-status -->
                            <span class="component-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span>
                        </div><!-- /.component -->
                    </div><!-- /.col-lg-4 -->

                    <div class="col-sm-6 col-md-4 col-lg-4 col-xlg-2 mb10">
                        <div class="component">
                            <span class="component-img"><i class="fa fa-youtube-play animated"></i></span>
                            <span class="component-name">Videos</span>
                            <span class="component-version">v.0.1</span>
                            <span class="component-status">
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-sm btn-toggle-active active">
                                        <input type="radio" name="status-5" value="1" checked>Active
                                    </label>
                                    <label class="btn btn-sm btn-toggle-unactive">
                                        <input type="radio" name="status-5" value="0">Unactive
                                    </label>
                                </div>
                            </span><!-- /.component-status -->
                            <span class="component-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span>
                        </div><!-- /.component -->
                    </div><!-- /.col-lg-4 -->

                    <div class="col-sm-6 col-md-4 col-lg-4 col-xlg-2 mb10">
                        <div class="component">
                            <span class="component-img"><i class="fa fa-file-o animated"></i></span>
                            <span class="component-name">Files</span>
                            <span class="component-version">v.0.1</span>
                            <span class="component-status">
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-sm btn-toggle-active active">
                                        <input type="radio" name="status-6" value="1" checked>Active
                                    </label>
                                    <label class="btn btn-sm btn-toggle-unactive">
                                        <input type="radio" name="status-6" value="0">Unactive
                                    </label>
                                </div>
                            </span><!-- /.component-status -->
                            <span class="component-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span>
                        </div><!-- /.component -->
                    </div><!-- /.col-lg-4 -->

                    <div class="col-sm-6 col-md-4 col-lg-4 col-xlg-2 mb10">
                        <div class="component">
                            <span class="component-img"><i class="fa fa-language animated"></i></span>
                            <span class="component-name">Languages</span>
                            <span class="component-version">v.0.1</span>
                            <span class="component-status">
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-sm btn-toggle-active active">
                                        <input type="radio" name="status-7" value="1" checked>Active
                                    </label>
                                    <label class="btn btn-sm btn-toggle-unactive">
                                        <input type="radio" name="status-7" value="0">Unactive
                                    </label>
                                </div>
                            </span><!-- /.component-status -->
                            <span class="component-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span>
                        </div><!-- /.component -->
                    </div><!-- /.col-lg-4 -->

                    <div class="col-sm-6 col-md-4 col-lg-4 col-xlg-2 mb10">
                        <div class="component">
                            <span class="component-img"><i class="fa fa-user animated"></i></span>
                            <span class="component-name">Users</span>
                            <span class="component-version">v.0.1</span>
                            <span class="component-status">
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-sm btn-toggle-active active">
                                        <input type="radio" name="status-8" value="1" checked>Active
                                    </label>
                                    <label class="btn btn-sm btn-toggle-unactive">
                                        <input type="radio" name="status-8" value="0">Unactive
                                    </label>
                                </div>
                            </span><!-- /.component-status -->
                            <span class="component-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span>
                        </div><!-- /.component -->
                    </div><!-- /.col-lg-4 -->
                </div><!-- /.row -->
            </div><!-- /.box-content -->
        </div><!-- /.box -->
    </div><!-- /.col-lg-12 -->
{% endblock %}